/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 20, 2014, 3:17:56 PM
    Author     : tam
*/

.wrapper {
    margin-left: 20%;
    margin-right: 20%;
}