@import url(style.css);

path.link, .node rect {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.node rect {
  fill: white;
}

.text rect {
  fill: #eee;
  stroke: none;
}

.node text {
  font: 10px sans-serif;
}

