.body {
    position: relative;
    width: auto;
    font-size: 12pt;
    margin-left: 450px;
    margin-top: 10px;
    margin-right: 50px;
}

.menu {
    position: fixed;
    top: 10px;
    left: 20px;
    width: 400px;

}

.container {
    padding: 24px 24px 12px 24px;
    position: relative;
    -moz-box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
    -webkit-box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
    box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
}

.container:hover {
    border: 2px solid blue;
    box-shadow: 0 0 10px 5px aqua;
}

.info {
    text-indent: 1.5em;
    padding: 16px;
    margin-bottom: 24px;
    -moz-box-shadow:
        0 -1px 0 #fff inset,
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
    -webkit-box-shadow:
        0 -1px 0 #fff inset,
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
    box-shadow:
        0 -1px 0 #fff inset,
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
}

.container, .info {
    border-radius: 12px;
    margin-bottom: 24px;
}

.info i.fa {
    position: absolute;
    left: 0px;
    top: 18px;
}

.label {
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 4px 8px 4px 8px;
    border-radius: 12px 0px;
    box-shadow: inset 0 -1px 0 #fff;
}

.info {
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff) to(#e4e4e4));
    background: -webkit-linear-gradient(#fff, #e4e4e4);
    background: -moz-linear-gradient(#fff, #e4e4e4);
    background: -ms-linear-gradient(#fff, #e4e4e4);
    background: -o-linear-gradient(#fff, #e4e4e4);
    background: linear-gradient(#fff, #e4e4e4);
    color: #666;
    font-size: 10pt;
}

.label {
    background: #005EFF;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#4479D4) to(#1049A9));
    background: -webkit-linear-gradient(#4479D4, #1049A9);
    background: -moz-linear-gradient(#4479D4, #1049A9);
    background: -ms-linear-gradient(#4479D4, #1049A9);
    background: -o-linear-gradient(#4479D4, #1049A9);
    background: linear-gradient(#4479D4, #1049A9);
    color: #fff;
    font-size: 10pt;
}

.container, .info, .label {
    border: 1px solid #bbb;
}

p.arial{ font-family: "Arial" };
p.CiscoSansTTBold { font-family: "CiscoSansTTBold"; }
p.CiscoSansTTBoldOblique { font-family: "CiscoSansTTBoldOblique"; }
p.CiscoSansTTCondensedBold { font-family: "CiscoSansTTCondensedBold"; }
p.CiscoSansTTCondensedBoldOblique { font-family: "CiscoSansTTCondensedBoldOblique"; }
p.CiscoSansTTCondensedExtraLight { font-family: "CiscoSansTTCondensedExtraLight"; }
p.CiscoSansTTCondensedExtraLightOblique { font-family: "CiscoSansTTCondensedExtraLightOblique"; }
p.CiscoSansTTCondensedHeavy { font-family: "CiscoSansTTCondensedHeavy"; }
p.CiscoSansTTCondensedHeavyOblique { font-family: "CiscoSansTTCondensedHeavyOblique"; }
p.CiscoSansTTCondensedLight { font-family: "CiscoSansTTCondensedLight"; }
p.CiscoSansTTCondensedLightOblique { font-family: "CiscoSansTTCondensedLightOblique"; }
p.CiscoSansTTCondensedOblique { font-family: "CiscoSansTTCondensedOblique"; }
p.CiscoSansTTCondensedRegular { font-family: "CiscoSansTTCondensedRegular"; }
p.CiscoSansTTCondensedThin { font-family: "CiscoSansTTCondensedThin"; }
p.CiscoSansTTCondensedThinOblique { font-family: "CiscoSansTTCondensedThinOblique"; }
p.CiscoSansTTExtraLight { font-family: "CiscoSansTTExtraLight"; }
p.CiscoSansTTExtraLightOblique { font-family: "CiscoSansTTExtraLightOblique"; }
p.CiscoSansTTHeavy { font-family: "CiscoSansTTHeavy"; }
p.CiscoSansTTHeavyOblique { font-family: "CiscoSansTTHeavyOblique"; }
p.CiscoSansTTLight { font-family: "CiscoSansTTLight"; }
p.CiscoSansTTLightOblique { font-family: "CiscoSansTTLightOblique"; }
p.CiscoSansTTRegular { font-family: "CiscoSansTTRegular"; }
p.CiscoSansTTRegularOblique { font-family: "CiscoSansTTRegularOblique"; }
p.CiscoSansTTThin { font-family: "CiscoSansTTThin"; }
p.CiscoSansTTThinOblique { font-family: "CiscoSansTTThinOblique"; }
    /* language specific */
p.CiscoSansTTCHS-Regular { font-family: "CiscoSansCHS-Regular"; }
p.CiscoSansTTCHT-Regular { font-family: "CiscoSansCHT-Regular"; }
p.CiscoSansTTGlobal-Regular { font-family: "CiscoSansGlobal-Regular"; }
p.CiscoSansTTJPN-Regular { font-family: "CiscoSansJPN-Regular"; }
p.CiscoSansTTKOR-Regular { font-family: "CiscoSansKOR-Regular"; }
p.CiscoSansTTLatin-Regular { font-family: "CiscoSansTTLatin-Regular"; }
p.CiscoSansTTME-Regular { font-family: "CiscoSansME-Regular"; }
p.CiscoSansTTThai-Regular { font-family: "CiscoSansThai-Regular"; }