.wrapper {
    position: relative;
    width: 640px;
    font: 12pt 'Open Sans';
    margin-left: 200px;
    margin-top: 50px;
}

article {
    padding: 24px 24px 12px 24px;
    position: relative;
    -moz-box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
    -webkit-box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
    box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666;
    border-radius: 12px;
    margin-bottom: 24px;
    background-color: #FFEDCF;
}

article > h1,
article > h2,
article > h3,
article > h4,
article > h5 {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 4px 12px 4px 12px;
    border-radius: 12px 0px;
    -moz-box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666,
        inset 0 -1px 0 #fff;
    -webkit-box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666,
        inset 0 -1px 0 #fff;
    box-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #bbb,
        0px 0px 5px #666,
        inset 0 -1px 0 #fff;
    background: #fff;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff) to(#e4e4e4));
    background: -webkit-linear-gradient(#fff, #e4e4e4);
    background: -moz-linear-gradient(#fff, #e4e4e4);
    background: -ms-linear-gradient(#fff, #e4e4e4);
    background: -o-linear-gradient(#fff, #e4e4e4);
    background: linear-gradient(#fff, #e4e4e4);
    color: #666;
    font-size: 10pt;
    font-weight: bold;
}

article p {
    position: relative;
    padding: 10px 16px 10px 10px;
    height: 80%;
    font: 11pt 'IM Fell English';
    text-indent: 2em;
}