/*.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
}

.verticalTableHeader:before {
    content:'';
    padding-top:110%; takes width as reference, + 10% for faking some extra padding
    display:inline-block;
    vertical-align:middle;
}*/

/*.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    g-origin:50% 50%;
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);

}
.verticalTableHeader p {
    margin:0 -100% ;
    display:inline-block;
}
.verticalTableHeader p:before{
    content:'';
    width:0;
    padding-top:110%; takes width as reference, + 10% for faking some extra padding
    display:inline-block;
    vertical-align:middle;
}
table {
    text-align:center;
    table-layout : fixed;
    width:150px
}*/

.verticalTableHeader p {
    text-align: center;
    white-space: pre;
    /*white-space: nowrap;*/
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
}

.verticalTableHeader p {
    margin: 0 -100% ;
    display: inline-block;
}

.verticalTableHeader p:before{
    content: '';
    width: 0;
    padding-top: 110%;/* takes width as reference, + 10% for faking some extra padding */
    display: inline-block;
    vertical-align: middle;
}

table {
    text-align: center;
    table-layout : fixed;
    width: 150px
}