*.cache
*.htaccess
*.htpasswd
*.idea
*.lock
*.log
*.log.php
*.mo
*.project
*.rss
*.sass-cache
*.sass-cache
*.settings
*.sublime-project
*.sublime-workspace
*.svn
*.tmp
*.vagrant
.idea
.idea
/.sismo/*
/app/check.php
/app/config/override/*
/app/config/parameters-local.yml
/app/config/parameters.yml
/app/SymfonyRequirements.php
/awstats
/awstats-icon
/awstatsicons
/config/override/*
/config_cli/override/*
/fv
/google*.html
/icon
/images/candidate
/images/employers
/index.html
/lock
/logs/*
/nbproject/*
/node_modules/*
/src/Absolvent/AbsolventBundle/Resources/public/javascripts/main.js
/temp/*
/tmp/*
/vendor/*
/web.config
/web/bundles/*
cache
composer.lock
composer.phar
google*.html
jshint.js
old
old1
stats
Thumbs.db
upload
