th,
.label {
    background-color: #10abd7;
    color: #fff;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.value {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table, td {
    border: 1px solid #bbb;
}