.circle, .wave {
    fill: none;
    stroke: green;
    stroke-width: 1.5px;
}
.circle {
    stroke: black;
}
.axis {
    stroke: black;
    stroke-width: 1px;
}
.edge {
    stroke: #ccc;
    stroke-width: 1px;
}
.line {
    stroke: red;
    stroke-width: 1.5px;
}
#dot {
    fill: black;
}
.filler {
    fill: white;
}
